.promo__wrapper {
    display: flex;

}
.promo__content {
    color: rgb(0, 0, 0);
    max-width: 300px;
}

.promo__subtitle {
    margin-bottom: 50px;
}

.promo__contacts > a:first-child {
    margin-bottom: 10px;
}
