<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="assets/fonts/roboto-v20-cyrillic_latin-regular.woff2" as="font" crossorigin>
    <link rel="stylesheet" href="styles/style.css">

    <meta name="description" content="Репродукцио. Любите искусство? Заходите в наш магазин репродукций шедевров мирового искусства. 
    Мы распологаемся по адресу Санкт-Петербург, ул. Адмирала Черокова, 18">

    <title>Document</title>
</head>
<body>
    <h1 class="visually-hidden">Репродукцио - магазин репродукций шедевров мирового искусства</h1>
    <section class="promo">
        <div class="promo__wrapper container">
            <div class="promo__content" itemscope itemtype="https://schema.org/Organization">
                <h2 class="promo__title main-title" itemprop="brand">
                    Репро<br>дукцио
                </h2>
                <p class="promo__subtitle main-subtitle">
                    Оффлайн магазин репродукций шедевров мирового искусства
                </p>
                <div class="promo__contacts">
                    <a class="promo__email" href="https://goo.gl/maps/B3EUEADnx59T9KcB6" itemprop="address">Санкт-Петербург, ул.&nbsp;Адмирала&nbsp;Черокова, 18</a>
                    <a href="tel:+78129602201" itemprop="telephone">+7 812 960-22-01</a>
                    <a href="mailto:shop@reproduct.io" itemprop="email">shop@reproduct.io</a>
                </div>
            </div>

            {% include 'pages/promo-slider.twig' %}
           
        </div>
    </section>
    <section class="popular">
        <div class="popular__wrapper container">
            <h2 class="popular__title main-title">
                Популярное
            </h2>
            <p class="popular__subtitle main-subtitle">
                Нестареющая классика и бестселлеры
            </p>

            {% include 'pages/popular-slider.twig' %}

        </div>
    </section>
    <section class="contact-us">
        <div class="contact-us__wrapper container">
            <div class="contact-us__content">
                <h2 class="contact-us__title main-title">
                    Написать нам
                </h2>
                <p class="contact-us__subtitle main-subtitle">
                    Заполните форму справа или отправьте письмо на <a class ="contact-us__email" href="mailto:shop@reproduct.io">shop@reproduct.io</a>
                </p>
                <p class="contact-us__copyright">Репродукцио, 2019</p>
                <a href="#personal-data-popup" class="popup-content js-popup-opener">Правила обработки персональных данных</a>
                
                {% include 'pages/popup.html' %}
                
            </div>
            <div class="form">
            <form class="contact-us__form js-form" action="">
                <input placeholder="Email" name="formEmail" id="formEmail" class="js-email-valid" pattern="^[A-Za-z0-9][A-Za-z0-9\.\-_]*[A-Za-z0-9]*@([A-Za-z0-9]+([A-Za-z0-9-]*[A-Za-z0-9]+)*\.)+[A-Za-z]*$" required>
                <textarea autocomplete="off" placeholder="Сообщение" name="formMessage" rows="8" id="form-message"></textarea>
                <button type="submit" class="form__btn btn">Отправить сообщение</button>
            </form>
            <p class="form-error hidden">Введите почту в формате xxx@xxx.xxx</p>
            <div class="form-success hidden">
                <p>Отправлено</p>
                <p>Мы ответим вам на почту в течение нескольких рабочих дней</p>
            </div>
            </div>
        </div>
    </section>

    <script src="js/api.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/popup.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>